@import "../../index.scss";
.content {
  min-height: 15rem;
}
.welcome {
  border-bottom: 2px solid red;
  padding: 0.5rem;
}
.currentPlan {
  border-bottom: 2px solid red;
  padding: 1rem 0.5rem;
}
.message {
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
hig {
  text-transform: uppercase;
  background-color: $highlightColor;
}
